{% extends 'base2.html' %}
{% load static %}


{% block content %}
{% include "utils/navbar.html" %}
<div class="row">
    <div class="col s12 m8 l8">
        <ul class="collection">
            <h4>All Lecturers </h4>
            <ul class="collapsible">
                {% for member in lect_staff_qs %}

                <li>
                    <div class="collapsible-header">
                        <i class="material-icons blue-text">person_outline</i>
                        {{member.lecturer_sirname}} {{member.other_name}}
                        <span class="badge"><i class="material-icons green-text">remove_red_eye</i></span></div>
                    <div class="collapsible-body">
                        <h5 class="green-text">Department: {{member.department}}</h5>
                        
                        <hr>
                        <div class="">
                            <span class="badge"><a href=""><i class="material-icons">mode_edit</i></a></span>
                        </div>
                        <p><i class="material-icons">person</i> {{member.lecturer_sirname}} {{member.other_name}}</p>
                        <p><i class="material-icons">dialpad</i> {{member.tel}}</p>
                        {% if member.user.is_active == True  %}
                        <p><i class="material-icons green-text">filter_vintage</i>Active: {{dep.is_active}}</p>
                        {% else %}
                        <p><i class="material-icons red-text">block</i>Active: {{dep.is_active}}</p>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>

        </ul>
    </div>
</div>
<div class="row">
    <div class="col s12 m8 l8">
        <ul class="collection">
            <h4>All Deans </h4>
            <ul class="collapsible">
                {% for member in dean_staff_qs %}

                <li>
                    <div class="collapsible-header">
                        <i class="material-icons blue-text">person_outline</i>
                        {{member.lecturer_sirname}} {{member.other_name}}
                        <span class="badge"><i class="material-icons green-text">remove_red_eye</i></span></div>
                    <div class="collapsible-body">
                        <h5 class="green-text">Department: {{member.department}}</h5>
                        
                        <hr>
                        <div class="">
                            <span class="badge"><a href=""><i class="material-icons">mode_edit</i></a></span>
                        </div>
                        <p><i class="material-icons">person</i> {{member.lecturer_sirname}} {{member.other_name}}</p>
                        <p><i class="material-icons">dialpad</i> {{member.tel}}</p>
                        {% if member.user.is_active == True  %}
                        <p><i class="material-icons green-text">filter_vintage</i>Active: {{dep.is_active}}</p>
                        {% else %}
                        <p><i class="material-icons red-text">block</i>Active: {{dep.is_active}}</p>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>

        </ul>
    </div>
</div>
<div class="row">
    <div class="col s12 m8 l8">
        <ul class="collection">
            <h4>All HOD(s) </h4>
            <ul class="collapsible">
                {% for member in hod_staff_qs %}

                <li>
                    <div class="collapsible-header">
                        <i class="material-icons blue-text">person_outline</i>
                        {{member.lecturer_sirname}} {{member.other_name}}
                        <span class="badge"><i class="material-icons green-text">remove_red_eye</i></span></div>
                    <div class="collapsible-body">
                        <h5 class="green-text">Department: {{member.department}}</h5>
                        
                        <hr>
                        <div class="">
                            <span class="badge"><a href=""><i class="material-icons">mode_edit</i></a></span>
                        </div>
                        <p><i class="material-icons">person</i> {{member.lecturer_sirname}} {{member.other_name}}</p>
                        <p><i class="material-icons">dialpad</i> {{member.tel}}</p>
                        {% if member.user.is_active == True  %}
                        <p><i class="material-icons green-text">filter_vintage</i>Active: {{dep.is_active}}</p>
                        {% else %}
                        <p><i class="material-icons red-text">block</i>Active: {{dep.is_active}}</p>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>

        </ul>
    </div>
</div>
{% endblock %}